<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="marr.DataLayer.Properties.Settings.lovedataConnectionString"
            connectionString="Data Source=.;Initial Catalog=lovedata;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.WangLaoJiData_DataConnectionString"
            connectionString="Data Source=CHARISE;Initial Catalog=WangLaoJiData_Data;Persist Security Info=True;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.wljwebConnectionString"
            connectionString="Data Source=.;Initial Catalog=wljweb;Persist Security Info=True;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.mysqlConnectionString"
            connectionString="Data Source=.;Initial Catalog=mysql;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.hmfwjfConnectionString"
            connectionString="Data Source=192.168.5.89;Initial Catalog=hmfwjf;Persist Security Info=True;User ID=sa;Password=555"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.hmedssConnectionString"
            connectionString="Data Source=.;Initial Catalog=hmedss;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.tyedssConnectionString"
            connectionString="Data Source=.;Initial Catalog=tyedss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.hmfwfcjfConnectionString"
            connectionString="Data Source=.;Initial Catalog=hmfwfcjf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.fwdataConnectionString"
            connectionString="Data Source=.;Initial Catalog=fwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.cfwdataConnectionString"
            connectionString="Data Source=.;Initial Catalog=cfwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwdataConnectionString"
            connectionString="Data Source=.;Initial Catalog=yfwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwdataConnectionString1"
            connectionString="Data Source=HM03;Initial Catalog=yfwdata;Persist Security Info=True;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwdataConnectionString2"
            connectionString="Data Source=HM03;Initial Catalog=yfwdata;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwdataConnectionString3"
            connectionString="Data Source=HM03;Initial Catalog=yfwdata;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.xfwdataConnectionString"
            connectionString="Data Source=.;Initial Catalog=xfwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.hfwdataConnectionString"
            connectionString="Data Source=.;Initial Catalog=hfwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.hfwdataConnectionString1"
            connectionString="Data Source=.;Initial Catalog=hfwdata;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwdataConnectionString4"
            connectionString="Data Source=HMCHARISE2018\SQL2008;Initial Catalog=yfwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.hfwdataConnectionString2"
            connectionString="Data Source=HMCHARISE2018\SQL2008;Initial Catalog=hfwdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwfc_zxConnectionString"
            connectionString="Data Source=HMCHARISE2018\SQL2008;Initial Catalog=yfwfc_zx;Persist Security Info=True;User ID=sa;Password=2285"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwfc_zxConnectionString1"
            connectionString="Data Source=.;Initial Catalog=yfwfc_zx;Persist Security Info=True;User ID=sa;Password=2285;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwfchb_hrConnectionString"
            connectionString="Data Source=HMCHARISE2018\SQL2008;Initial Catalog=yfwfchb_hr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwfchb_hrConnectionString1"
            connectionString="Data Source=.\sql2008;Initial Catalog=yfwfchb_hr;Persist Security Info=True;User ID=sa;Password=2285;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwfchb_zzConnectionString"
            connectionString="Data Source=.;Initial Catalog=yfwfchb_zz;Persist Security Info=True;User ID=sa;Password=2285;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="marr.DataLayer.Properties.Settings.yfwfc_asyjtConnectionString"
            connectionString="Data Source=.;Initial Catalog=yfwfc_asyjt;Persist Security Info=True;User ID=sa;Password=2285;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>