@charset "utf-8";
/* CSS Document */


					
.basecenter{width:100%;height:auto;}
	.pass_nr{width:auto;height:auto;padding:0 10px;}
		.pass_nr_top{width:100%;height:auto;padding-top:20px;}
			.pass_nr_top dl{width:100%;height:80px;margin-top:10px;}
				.pass_nr_top dl dt{width:100%;height:40px;color:#666;line-height:40px;font-size:16px;}
				.pass_nr_top dl dd{width:100%;height:40px;}
					.pass_nr_top dl dd .Determine-item{box-sizing:border-box;width:100%;padding:0 10px;font-size:14px;height:40px;border-radius:4px;color:#303030;background:#e0e0e0;}
	
	
					.pass_nr_top dl dd .yzm_left{width:55%;height:42px;float:left;}
					.pass_nr_top dl dd .yzm_right{width:42%;height:42px;float:right; text-align:center; overflow:hidden;}
						.pass_nr_top dl .yzm_right button{width:100%;height:42px;background:#a9a9a9;border-radius:6px; display:block;line-height:42px; text-align:center;color:#fff;border:0;}
		